<template name="drawPage">
	<div class="tools">
    <a href="#tools_sketch" data-tool="marker"><img src = "icons/marker.png" alt = "Marker"></a>
    <a href="#tools_sketch" data-tool="eraser"><img src = "icons/eraser.png" alt = "Eraser"></a>
		{{#if currentUser}}
			<a id="submit" style="float: right;">Submit</a>
		{{else}}
			<p style="float: right;">Please log in to save your gag</p>
		{{/if}}
  </div>
  <canvas id="tools_sketch" width="800" height="500"  style="{{#if new}}background-color: #fff{{else}}background: url({{doodle}}) no-repeat{{/if}}; background-size: 100%;"></canvas>
</template>
