<template name="header">
  <nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="">FillGag</a>
    </div>
    <div class="collapse navbar-collapse" id="navigation">
      <ul class="nav navbar-nav navbar-right">
        {{> loginButtons}}
      </ul>
      <ul class="nav navbar-nav">
        <li class="{{activeRouteClass 'draw'}}">
          <a href="{{pathFor 'draw'}}">Draw</a>
        </li>
        <li class="{{activeRouteClass 'gallery'}}">
          <a href="{{pathFor 'gallery'}}">Gallery</a>
        </li>
        <li class="sorting">
          <select class="selectpicker">
            <option value="latest">Latest</option>
            <option value="popular">Popular</option>
          </select>
        </li>
      </ul>
    </div>
  </nav>
</template>
